<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <img src="assets/book.png" alt="Book" width="70" height="70" />
        <img src="assets/tinylearn.png" alt="TinyLearn" width="120" height="50" />
        </div>
        <div>
            <a class="navbar-brand" href="/">
                Home
            </a>
            <a class="navbar-brand" href="/mylearns">
                MyLearns
            </a>
            <a class="navbar-brand" href="/about">
                About
            </a>
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Add a category to our database</h3>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Add a subject..." id="subjectName">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" id="addSubject">Add it!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-outline-success" type="button" id="randomPageFromWiki">Give me a random learn!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header text-center">
                <h3>Your learn for today is...</h3>
            </div>
            <div class="card-body randomPage">
                <h3 class="randomPageTitle"></h3>
                <p class="renderhere"></p>
            </div>
        </div>
    </div>
</div>