<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1>TinyLearn</h1>
        </div>
        <div>
            <a class="navbar-brand" href="/">
                Home
            </a>
            <a class="navbar-brand" href="/mylearns">
                MyLearns
            </a>
            <a class="navbar-brand" href="/about">
                About
            </a>
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<center><img src="https://media.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" /></center>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Check out your past learns!</h3>
                </div>
                <div class="card-body">

                    {{#each subject}}
                    <div>{{subject}}</div>
                    {{/each }}

                </div>
                <div class="card-body">

                    {{#each subject}}
                    <div>{{subject}}</div>
                    {{/each }}

                </div>
                <div class="card-body">

                    {{#each subject}}
                    <div>{{subject}}</div>
                    {{/each }}

                </div>
            </div>
        </div>
    </div>