form.signup,
form.login {
  margin-top: 50px;
}

@font-face {
  font-family: orangeJuice;
  src: url("public/assets/orange_juice_2.0.ttf");
}

h1 {
  font-family: orangeJuice;
  font-size: 55px;
}

body, html {
  background-image: url("public/assets/linedpaper.png");
}

.loginbtn, .signupbtn {
  background-color: teal;
  color: white;
}